/* main.css */
:root {
  --bg: #ecf4f5;
  --bg2: #e1f3f8;
  --accent: #a21414;
  --accent2: #c54444;
  --contrast: #14a2a2;
  --contrast2: #44c5c5;
  --card: #e4e4e4;
  --card2: #f8f8f8;
  --headline: #1f1717;
  --paragraph: #423f3f;
}

/* Dark theme colors */
.dark {
  --bg: #ffffff;
  --bg2: #333333;
  --accent: #5b21b6;
  --accent2: #ffffff;
  --contrast: #ffffff;
  --contrast2: #000000;
  --card: #ffffff;
  --card2: #333333;
  --headline: #000000;
  --paragraph: #333333;
}

.icon-label {
  @apply flex flex-row items-center gap-2;
}
