/* main.css */
:root {
  --bg: #fafafa;
  --bg2: #f0f0f0;
  --accent: #a21414;
  --accent2: #c54444;
  --contrast: #14a2a2;
  --contrast2: #44c5c5;
  --card: #e4e4e4;
  --card2: #f8f8f8;
  --headline: #1f1717;
  --paragraph: #423f3f;
}

/* Dark theme colors */
.dark {
  --bg: #16161a;
  --bg2: #242629;
  --accent: #a21414;
  --accent2: #c54444;
  --contrast: #14a2a2;
  --contrast2: #44c5c5;
  --card: #242629;
  --card2: #16161a;
  --headline: #e2e2e2;
  --paragraph: #94a1b2;
}

.icon-label {
  @apply flex flex-row items-center gap-2;
}

.dash-card {
  @apply flex flex-col gap-4 p-4 rounded-lg shadow-md;
}

.custom-border-right {
  @apply border-r border-gray-400 border-opacity-25;
}
